.intro-headline-content {
  position: absolute;
  top: 5vh;
  width: 100vw;
}

.intro-headline-content img {
  width: 90vw;
  height: 50vh;
  margin-left: 5vw;
  margin-right: auto;
}

.Headline {
  /* propertys here */
}